<div class="banner">
<h1>Stupid Coaching</h1>
<p>Ask your coach anything</p>
</div>
<form action="/answer" id="input">
  <input type="text" name="question" class="form-control">
 <button type="button" class="btn btn-primary" >Ask!</button>
</form>

